* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

.black-market-container {
    display: none;
    background-color: #121212;
    color: #ffffff;
    line-height: 1.6;
    background-image: url('images/michael.png');
    background-position: center 115%;
    background-size: 30%;
    background-repeat: no-repeat;
    width: 90%;
    height: 90vh;
    overflow-y: auto;
    border: 7px solid rgb(32, 32, 32);
    border-radius: 10px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.black-market-container::-webkit-scrollbar {
    width: 12px;
}

.black-market-container::-webkit-scrollbar-thumb {
    background-color: #2e2e2e;
    border-radius: 10px;
}

.black-market-container::-webkit-scrollbar-thumb:hover {
    background-color: #383838;
}

.black-market-container::-webkit-scrollbar-track {
    background-color: #1e1e1e;
    border-radius: 10px;
}


header {
    text-align: center;
    padding: 20px;
    background-color: #1e1e1e;
    border-bottom: 1px solid #333;
}

header h1 {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}


.logo{
    width: 6vw;
    height: 6vw;
    border-radius: 8px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    padding: 20px;
}

.grid-item {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 11vw;
    border: 1px solid #00ff95;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.grid-item:hover {
    transform: scale(1.05);
}

.grid-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    padding: 10px;
}

.grid-content h2 {
    font-size: 1.8rem;
    margin: 0;
    color: #00ff95;
}

.tooltip {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    color: #00ff95;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 0.9rem;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -100%);
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1000; 
}


@media (max-width: 768px) {
    .grid-item {
        height: 180px;
    }

    header h1 {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .grid-item {
        height: 150px;
    }

    header h1 {
        font-size: 1.2rem;
    }
}